<link rel="stylesheet" href="/css/cart.css">
<div class="container-fluid pt-3">
    <table class="table table-hover text-center" style="margin-bottom: 120px;">
        <thead class="table-dark">
            <tr>
                <th style="width: 10%;">Hình ảnh</th>
                <th>Sản Phẩm</th>
                <th style="width: 20%;">Số Lượng</th>
                <th style="width: 10%;">Giá Tiền</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td><img src="/uploads/{{image}}"></td>
                <td><a href="/product/detail/{{id}}">{{name}}</a></td>
                <td>{{quantity}}</td>
                <td id="price">{{formatPrice price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="fixed-bottom p-2">
        <div style="float: left;" class="w-50">
            <div class="form-outline mt-4">
                <input name="address" type="text" id="address" class="form-control" value="{{address}}" />
                <label class="form-label" for="address">Địa chỉ</label>
            </div>
        </div>

        <div style="float: right;">
            <p style="font-size: 30px;">Tổng tiền: {{formatPrice (totalPrice products)}}</p>
            <button onclick="checkout('{{formatPrice (totalPrice products)}}')" class="btn btn-dark"><i
                    class="fa-solid fa-cash-register"></i> Thanh toán</button>
        </div>
    </div>
</div>

<script src="/js/cart.js"></script>
<script src="/js/main.js"></script>